<div class="center jumbotron">
  <h1>Welcome to the Corsairs page</h1>

  <h2>
    This is the home page for the
    Corsairs application.
  </h2>

  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>

<p>Find me in app/views/corsairs/index.html.erb</p>
